@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: gray;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.534);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

div.time{
    text-align: center;
    font-family: monospace;
    font-size: 5em;
    background-color: rgba(255, 255, 255, 0.575);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

div.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

div.buttons button{
    font-size: 1.2em;
    color: white;
    width: 100px;
    padding: 0.5rem;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

#start{
    background-color: green;
}

#start:hover{
    background-color: lightgreen;
}

#start:active{
    background-color: green;
}

#stop{
    background-color: red;
}

#stop:hover{
    background-color: rgb(247, 114, 114);
}

#stop:active{
    background-color: red;
}

#reset{
    background-color: blue;
}

#reset:hover{
    background-color: lightblue;
}

#reset:active{
    background-color: blue;
}